

<div class= "hero-unit">
	<p><%= title %><p> 
	<h1>Welcome to Test Blog</h1>
	<p>This is the test</p>
	<p>
		<a class="btn btn-primary btn-large" href="/login">Login</a>
		<a class="btn btn-large" href="/reg">Sign Up</a>
	</p>
</div>

<div class="row">
	<div class="span4">
		<h2>ET</h2>
		<p>ET test123</p>
	</div> 
	<div class="span4">
		<h2>ET1</h2>
		<p>ET1 test123</p>
	</div> 
	<div class="span4">
		<h2>ET2</h2>
		<p>ET2 test123</p>
	</div> 	
</div>